trigger:
  - main

variables:
  imageName: 'yourdockerhubusername/cannabis-delivery-platform'
  buildTag: '$(Build.BuildId)'
  latestTag: 'latest'

stages:
  - stage: BuildAndPush
    jobs:
      - job: DockerJob
        pool:
          vmImage: ubuntu-latest
        steps:
          - checkout: self

          - task: Docker@2
            displayName: Docker Login
            inputs:
              command: login
              containerRegistry: 'dockerhub-service-connection'  # Replace with your service connection name

          - task: Docker@2
            displayName: Build Docker Image
            inputs:
              command: build
              repository: $(imageName)
              tags: |
                $(buildTag)
                $(latestTag)
              dockerfile: './Dockerfile'

          - task: Docker@2
            displayName: Push Docker Image
            inputs:
              command: push
              repository: $(imageName)
              tags: |
                $(buildTag)
                $(latestTag)
